<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	{% block meta %}<!--block meta--> {% endblock %}
	<title>{% block title %}?{% endblock %}-Blog</title>
	<link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css" charset="utf-8">
	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/semantic.min.js"></script>
	<script type="text/javascript" src="../static/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/header.css" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/footer.css" charset="utf-8">
	{% block beforehead %}  <!--before head-->{% endblock %}
</head>
<body>
	<div id="main">
		<div class="ui vertical segment header">
			<div class="ui text menu header">
				<div class="item">
					<span id="awesome">Awesome</span>
				</div>
				<a href="/blogs" class="item awesome"><i class="home icon"></i>日志</a>
				<a href="#" class="item awesome"><i class="book icon"></i>教程</a>
				<a href="#" class="item awesome"><i class="code icon"></i>源码</a>
				<div class="right menu">
					{% if request.session.user %}
						<div class="ui dropdown item">
							<i class="user icon"></i>
							<span>{{request.session.user}}</span>
							<div class="menu">
								<a href="{% url 'logout' %}" class="item">登出</a>
							</div>
						</div>
					{% else %}
						<a href="/login" class="item"><i></i>登录</a>
						<a href="/regist" class="item"><i></i>注册</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div id="content" class="ui container">
			{% block content %}
			
				<!-- content -->
			{% endblock %}
		</div>

		<div id="footer">
			<div class="ui basic horizontal segment">
				<a href="#" ><i class=" black circular weibo icon"></i></a>
				<a href="#" ><i class=" black circular linkedin icon"></i></a>
				<a href="#" ><i class=" black circular github square icon"></i></a>
				<a href="#" ><i class=" black circular twitter icon"></i></a>
			</div>

			<div class="ui basic segment intr">
				<p>Powered by <a href="#">Awesome Python Webapp</a>. Copyright &copy; 2014. [<a href="/manage/" target="_blank">Manage</a>]</p>
			</div>

			<div class="ui basic segment intr">
				<p><a href="http://www.liaoxuefeng.com/" target="_blank">www.liaoxuefeng.com</a>. All rights reserved.</p>
			</div>
	        <div class="ui basic segment intr">
	        	 <a target="_blank" href="#"><i class="html5 icon" style="font-size:64px; color: #444; margin-top: 20px;"></i></a>
	    	</div>
		</div>
	</div>
</body>

</html>
