

{% extends '__base__.html' %}
{% load summary_wordcount %}
{% load pagetag %}
{% load staticfiles %}
{% block title %}日志{% endblock %}
{% block beforehead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}


	{% block blog %}
	<div id="app_content">
	    <div class="ui top attached tabular  menu">
	        {%  if 'editors' in request.path %}
	            <a href="{% url 'blogs' %}" class="item">ALL</a>
	            <a href="{% url 'blogs' %}news" class="item">News</a>
	            <a href="{% url 'blogs' %}editors" class="active item">Editor`s</a>
	        {%  elif 'news' in request.path %}
	            <a href="{% url 'blogs' %}" class="item">ALL</a>
	            <a href="{% url 'blogs' %}news" class="active item">News</a>
	            <a href="{% url 'blogs' %}editors" class="item">Editor`s</a>
	        {%  else %}
	            <a href="{% url 'blogs' %}" class="active item">ALL</a>
	            <a href="{% url 'blogs' %}news" class="item">News</a>
	            <a href="{% url 'blogs' %}editors" class="item">Editor`s</a>
	        {% endif %}
	    </div>
		{% verbatim %}
		    <div class="ui basic bottom attached  segment">
		            <div v-for="blog in blogs" class="ui basic segment blogs">
						<h2 class="ui header title"><a href="{% url 'blog' blog.name %}">{{blog.name}}</a></h2>
						<p class="blog_summary">{{blog.summary}}</p>
						<p><a href="{% url 'blog' blog.name %}">继续阅读<i class="angle double right icon"></i></a></p>
						<div class="ui divider"></div>
		            </div>
		    </div>
	    {% endverbatim %}
	</div>
	{% endblock %}

	{% block pager %}
		<div class="ui center aligned very padded vertical segment container ">
			<div class="ui pagination white  menu">
				{% if page.has_prevoius %}
					<a href="?page={{ page.prev_page }}" class="item">
						<i class="angle blue double left icon"></i>
					</a>
				{% else %}
					<div href="?page={{ page.start_index }}" class="disabled item">
						<i class="angle double left icon"></i>
					</div>
				{% endif %}
				{% for pg in page.page_range %}
					{% circle_page page pg %}
				{% endfor %}
				{% if page.has_next %}
					<a href="?page={{ page.next_page }}" class="item">
						<i class="angle blue double right icon"></i>
					</a>
				{% else %}
					<div  class="disabled item">
						<i class="angle double right icon"></i>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}

{% block foot %}
	<script type="text/javascript">
		var vm= new Vue({
			el: "#app_content",
			data: {
				blogs: []
			},
			methods: {
				getData:function () {
					// body...
					var self = this
					reqwest({
						url: "http://127.0.0.1:8000/api/blogs/",
						type: "json",
						method: "get",
						data:{
							page:$("#current_page").text(),
						},
						success: function (resp) {
							// body...
							self.blogs = resp
						}
					})
				}
			},
			mounted: function () {
				// body...
				this.getData()
			}
		})
	</script>
{% endblock %}





